{% extends "base.html" %}

{% block head %}
{{ super() }}
    <style>
        body {
        background: url("{{url_for('static', filename='img/image_1.png') }} " ) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
        .submit {
            background-color: transparent !important;
            color: white !important;
            width: 150px;
            border: 1px solid white;
            font-size: 18px;
        }
        .submit:hover {
            background-color: blue !important;
        }
        .form {
            color: white !important;
            margin-top: 30px;
        }
        h1 {
            color: white !important;
        }
        .navbar {
            background-color: transparent !important;
            color: white;
            border: none;
            margin-top: 20px;
        }
        ul, li, a, p, h1, h4, h3 {
            color: white !important;
        }
        #main {
            margin-top: 80px;
        }
        #middle {
            border: 1px solid white;
            border-radius: 20px;
            padding: 15px;
            font-size: 16px;
            padding-top: 80px;
            padding-bottom: 90px;

    
        }

    </style>
{% endblock %}

{% block page_content %}

<div id="main"class="row">
    <div class="col-sm-6">
            <div id = "video" class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/U449lIfg_TQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
        </div>
    <div id="middle" class="col-md-6 text-center">
        <h3>About Us</h3>
        <p>At Rental Record Image, we are committed to helping any company that rents, 
            leases or moves tangible assets — car and truck rental, construction 
            and heavy equipment rental, freight and logistics, 
            and property management — collect best-in-class condition 
            records of those assets to decrease damage disputes and costs.
            By leveraging new trends in mobile apps, digital documentation 
            and the near ubiquity of mobile devices, Rental Record Image lets customers do
            away with paper documentation forms, streamline their condition review 
            process and boost the customer service experience.</p>
    </div>

</div>

 {% endblock %}